		<script src="js/angular.min.js"></script>
		<script src="js/buscaprodutoapp.js"></script>
		<div ng-app="BuscaProdutoApp">
		  <div ng-controller="BuscaProdutoController">
			<div class="site_gallery">
			  <span class="category_name">Busca</span>
			  <br>
			  <center>
			  <table border="0" cellpadding="0">
				<tr>
				  <td><b>Digite o código: </b></td>
				  <td><input ng-model="buscaCodigoTexto" ng-change="checkKonamiCode(buscaCodigoTexto)" /></td>
				</tr>
				<tr ng-show="enteredKonamiCode">
				  <td><b>Digite o Código: </b></td>
				  <td><input ng-model="buscaDescricaoTexto" /></td>
				</tr>
				<tr>
				  <td>&nbsp;</td>
				  <td>
					<button ng-click="buscaCodigoTexto=''; buscaDescricaoTexto='';">Limpar e Exibir todos</button>
				  </td>
				</tr>
			  </table>
			  </center>

			  <div class="container" id="gallery_container">
				<div id="links">
				  <ul class="products">
					<li ng-repeat="produto in produtos" ng-show="produtoCorresponde(produto.codigo, produto.caption, produto.captionSemAcentos, buscaCodigoTexto, buscaDescricaoTexto)">
					  <a class="product_group" href="fotos/{{produto.codigo}}.JPG" title="{{produto.codigo}}<br>{{produto.caption}}">
						<img src="fotos/thumb_{{produto.codigo}}.JPG" alt="{{produto.codigo}}"><br>
						<span class="box_codigo">&nbsp;&nbsp;{{produto.codigo}}&nbsp;&nbsp;</span><br>
						{{produto.caption}}<br>{{produto.dimensions}}
					  </a>
					</li>
				  </ul>
				</div> <!-- links -->
			  </div> <!-- gallery_container -->
			</div> <!-- site_gallery -->
		  </div> <!-- div ng-controller -->
		</div> <!-- div ng-app -->
